<nav class="navbar bg-dark navbar-dark fixed-top navbar-expand">
    <div class="left">
        <a class="navbar-text" routerLink="Home" routerLinkActive="active">Home</a>
        <a class="navbar-text" routerLink="Store" routerLinkActive="active">Store</a>
        <a class="navbar-text" routerLink="ContactUs" routerLinkActive="active">Contact Us</a>  
    </div>
    <div class="right">
        <a class="navbar-text" routerLink="Favorites" routerLinkActive="active"><i class="fas fa-heart"></i></a>
        <a class="navbar-text" routerLink="Cart" routerLinkActive="active"><i class="fas fa-shopping-cart"></i></a>
        <a class="navbar-text" routerLink="User" id="UserComponentLink"><i class="fas fa-user"></i></a>
    </div>
</nav>
<div class="container" style="width: 100%; height: 40px;"></div>
