<div class="card">
  <h1 class="">Add items to the store</h1>

  <div class="">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="itemID">ID</label>
        <input
          type="text"
          formControlName="itemID"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.itemID.errors }"
        />
        <div *ngIf="submitted && f.itemID.errors" class="invalid-feedback">
          <div *ngIf="f.itemID.errors!.required">ID is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="name">Item Name</label>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors!.required">
            A name for the item is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="price">Item Price</label>
        <input
          type="number"
          formControlName="price"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.price.errors }"
        />
        <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
          <div *ngIf="f.price.errors!.required">
            A price for the item is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <button
          [disabled]="loading"
          class="btn btn-primary"
          (click)="addItem()"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span
          >Add
        </button>
      </div>
    </form>
  </div>
</div>
