<div class="main">
  <div class="card addItem">
    <h1 class="">Add items to the store</h1>
    <form [formGroup]="form" class="form-row" (ngSubmit)="addItem()">
      <div class="form-group">
        <label for="name">Item Name</label>
        <input
          type="text"
          formControlName="name"
          class="form-control name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors!.required">Name required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="price">Item Price</label>
        <input
          type="number"
          formControlName="price"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.price.errors }"
        />
        <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
          <div *ngIf="f.price.errors!.required">Price required</div>
        </div>
      </div>
      <div class="form-group button">
        <button class="btn btn-secondary addImageBtn">
          <i class="fa fa-image" (click)="addImage()"></i>
        </button>
        <button [disabled]="loading" class="btn btn-primary addItemBtn">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span
          >Add
        </button>
      </div>
    </form>
  </div>
  <div class="card showItems">
    <h2>Items List</h2>
    <ul class="list-group">
      <li
        class="list-group-item list-group-item-light"
        *ngFor="let item of storeItems; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveItem(item, i)"
      >
        <p>Name: {{ item.name }} Price: ${{ item.price }}</p>
        <button class="btn btn-secondary delete" (click)="delete(item)">
          Delete
        </button>
        <button class="btn btn-secondary">Edit</button>
        <button class="btn btn-secondary addImageBtn" (click)="seeImage()">
          <i class="fa fa-image"></i>
        </button>
      </li>
    </ul>
  </div>
</div>
