<div class="modal-header">
  <h1 class="modal-title">Sign Up</h1>
  <a
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <i class="fas fa-times"></i>
  </a>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input
        type="text"
        class="form-control"
        formControlName="username"
        [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
      />
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors!.required">Username is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email Address:</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
      />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors!.required">Email is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
      />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors!.required">Password is required</div>
      </div>
    </div>
    <!-- passw cnfirmation imput 
        <div class="form-group">
            <label for="signUpPasswordConfirmInput">Confirm Password:</label>
            <input type="password" class="form-control" id="signUpPasswordConfirmInput">
        </div>
    -->
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Sign Up
      </button>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" (click)="closeModal(); SignIn()">
    Sign In
  </button>
</div>
